version: '3.8'
services:
  app:
    build:
      context:
      dockerfile: Dockerfile
    depends_on:
      migrations:
        condition: service_completed_successfully
    env_file:
      - .env
    ports:
      - "8000:8000"

  migrations:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: poetry run python manage.py migrate
    depends_on:
      - db

  db:
    image: postgres:17.6-trixie
    environment:
      - POSTGRES_USER: postgres
      - POSTGRES_PASSWORD: postgres
      - POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data: